@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    background-color: hsl(216,12%,8%);
}
.contenedor{

    position: fixed;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    margin-top: 50px;  
    text-align: left;
    padding: 2%;
    padding-bottom: 40px;
    margin-inline: 450px;
}
.star{
    justify-content: center;
    margin-right: 91.5%;
    padding: 2%;
    border-radius: 100%;
    background-color: hsla(216, 12%, 54%, 0.445);
}
h1{
    font-size: 30;
    color: white !important;
}
.texto, .rankin{
    font-family: 'Overpass', sans-serif;
    color:  hsl(217, 12%, 63%);
}
p{
    font-size: 18px;
}
.submit{
    display: flex;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 180px;
    color: white;
    border-style: none;
    background-color: hsl(25, 97%, 53%);
    border-radius: 30px;
}

.rankin{
    padding: 20px;
    font-size: 15px;
    margin-inline: 15px;
    margin-bottom: 40px;
    border-style: none;
    border-radius: 100%;
    background-color: hsla(216, 12%, 54%, 0.445) ;
}

.submit:hover{
    color:hsl(25, 97%, 53%);
    background-color: white;
    cursor:pointer;
    
}

.rankin:hover{
    background-color: hsla(215, 13%, 61%, 0.74);
    cursor: pointer;
}

.CambioColor{
    color: white;
    background-color: hsl(25, 97%, 53%);
}

